file-tree-view {
  display: block;
  width: 220px;
  height: fit-content;
  overflow: auto;
  background-color: var(--background-color);
  font-family: Helvetica;
  font-size: 14px;

  --left-indent: 20px;
  --line-height: 18px;
  --default-file-icon: '📄';
  --default-folder-icon: '📁';
  --default-expanded-folder-icon: '📂';
  --selected-color: gainsboro;
  --focus-color: #cacaca;
  --background-color: darkgray;
  --hover-color: silver;
}

ftv-file,
ftv-folder {
  display: block;
  overflow: hidden;
  height: var(--line-height);
}

ftv-file:focus-visible > .label,
ftv-folder:focus-visible > .label,
ftv-file:focus > .label,
ftv-folder:focus > .label {
  background-color: var(--focus-color);
}

ftv-file:focus-visible,
ftv-folder:focus-visible,
ftv-file:focus,
ftv-folder:focus {
  outline: none;
}

ftv-file[selected] > .label,
ftv-folder[selected] > .label {
  background-color: var(--selected-color);
}

.label:hover {
  background-color: var(--hover-color);
}

.label {
  display: block;
  height: var(--line-height);
  cursor: pointer;
}

.label::before {
  display: inline-block;
  width: var(--line-height);
  height: var(--line-height);
}

.content {
  display: block;
  padding-left: var(--left-indent);
}

ftv-file > .label::before {
  content: var(--default-file-icon);
}

ftv-folder > .label::before {
  content: var(--default-folder-icon);
}

ftv-folder[expanded] > .label::before {
  content: var(--default-expanded-folder-icon);
}

ftv-folder[expanded] {
  height: fit-content;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
