file-tree-view {
  display: block;
  width: 220px;
  height: fit-content;
  overflow: auto;

  --left-indent: 20px;
  --name-indent: 20px;
  --line-height: 18px;
  --default-file-icon: '📄';
  --default-folder-icon: '📁';
  --default-expanded-folder-icon: '📂';
}

ftv-file, 
ftv-folder {
  display: block;
  position: relative;
  overflow: hidden;
  height: var(--line-height);
}

ftv-file::after,
ftv-folder::after {
  content: attr(name);
  position: absolute;
  top: 0;
  left: var(--name-indent);
}

ftv-file::before {
  content: var(--default-file-icon);
}

ftv-folder[expanded]::before {
  content: var(--default-expanded-folder-icon);
}

ftv-folder[expanded] {
  height: fit-content;
}

ftv-folder::before {
  content: var(--default-folder-icon);
  position: relative;
  left: calc(var(--left-indent) * (-1));
}

ftv-folder {
  padding-left: var(--left-indent);
}

/* DEBUG */
ftv-folder {
  border: 1px solid blue;
}

ftv-file {
  border: 1px solid red;
}