file-tree-view {
  display: block;
  width: 220px;
  height: fit-content;
  overflow: auto;
  background-color: var(--background-color);
  font-family: Helvetica;
  font-size: 14px;

  --left-indent: 20px;
  --name-indent: 20px;
  --line-height: 18px;
  --default-file-icon: "📄";
  --default-folder-icon: "📁";
  --default-expanded-folder-icon: "📂";
  --selected-color: gainsboro;
  --background-color: darkgray;
}

ftv-file,
ftv-folder {
  display: block;
  position: relative;
  overflow: hidden;
  height: var(--line-height);
}

ftv-file[selected]::after,
ftv-folder[selected]::after,
ftv-file[selected]::before,
ftv-folder[selected]::before {
  background-color: var(--selected-color);
}

ftv-file::after,
ftv-folder::after {
  content: attr(name);
  position: absolute;
  top: 0;
  left: var(--name-indent);
  width: 100%;
}

ftv-file::before {
  content: var(--default-file-icon);
}

ftv-folder[expanded]::before {
  content: var(--default-expanded-folder-icon);
}

ftv-folder[expanded] {
  height: fit-content;
}

ftv-folder::before {
  content: var(--default-folder-icon);
  position: relative;
  left: calc(var(--left-indent) * (-1));
}

ftv-folder {
  padding-left: var(--left-indent);
}

/* DEBUG */
ftv-folder {
  border: 1px solid blue;
}

ftv-file {
  border: 1px solid red;
}
